{% include "default/header.html.twig" %}

<div class="container my-5">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
		{% for cloth in object %}
			<div class="col">
				<div class="card p-2" style="width: 20rem;">
					<img src="{{cloth.getImage()}} " class="card-img-top" style="height:302px;weight: 302px;">
                    <center>
					<div class="card-body">
						<h5 class="card-title">{{cloth.getBrand().getBrand().getBrand()}}</h5>
                        <p>{{cloth.getDescription()}}</p>
                        <h5 class="card-title"> &#8377;{{cloth.getPrice() - ((cloth.getPrice()*cloth.getDiscount())/100)}} <span style="font-size:15px;"><span style="text-decoration:line-through;">{{cloth.getPrice()}}</span> ({{cloth.getDiscount()}}% off )</span></h5> 
					
					
						<button class="card-link btn btn-success" style="text-decoration:none;">Buy Now</button>
                        <button class="card-link btn btn-success" style="text-decoration:none;">Add To Cart</button>
					</div>
                    </center>
				</div>
			</div>
            {% endfor %}
		</div>	
</div>
{% include "default/footer.html.twig" %}
