{% include "default/header.html.twig" %}

<style>
	.filterImg {
		height: 300px;
		width: 300px;
		border-radius: 20%;
	}
</style>
<div class="container d-flex  justify-content-sm-between">
	<div>
		<a href="/menclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Halo/1._SS300_QL85_.png" alt="">
		</a>
	</div>
	<div>
		<a href="/womenclothing">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Halo/2._SS300_QL85_.png" alt="">
		</a>
	</div>
	<div>
		<a href="/kidsfashion">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img23/Fashion/Event/JanART/Eventpage/Halo/9._SS300_QL85_.png" alt="">
		</a>
	</div>
</div>
<div class="container d-flex flex-row ">
	<div style="width:40%; text-align:center; padding-right: 10rem;">
		Men's Clothing
	</div>
	<div style="width:40%; text-align:center;">
		Women's Clothing
	</div>
	<div style="width:40%; text-align:center; padding-left: 10rem;">
		Kid's Fashion
	</div>
</div>

<div class="container my-5">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
		{% for object in clothing %}
			<div class="col">
				<div class="card p-2" style="width: 25rem; ">
					<img src="{{object.getImage()}} " class="card-img-top" style="height:450px; weight: 302px;">
					<center>
						<div class="card-body">
							<h5 class="card-title">{{object.getBrand().getBrand().getBrand()}}
							      {{ object.getLookingFor() }}'s {{ object.getDescription() }}
							</h5>
							<p></p>
							<h5 class="card-title">
								&#8377;{{object.getPrice() - ((object.getPrice()*object.getDiscount())/100)}}
								<span style="font-size:15px;">
									<span style="text-decoration:line-through;">{{object.getPrice()}}</span>
									({{object.getDiscount()}}% off )</span>
							</h5>
							<button class="card-link btn btn-success" style="text-decoration:none;">Buy Now</button>
							<button class="card-link btn btn-success" style="text-decoration:none;">Add To Cart</button>
						</div>
					</center>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{# {% include "default/pagination.html.twig" %}  #}
{% include "default/footer.html.twig" %}
