{% include "default/header.html.twig" %}

<style>
	.filterImg {
		height: 300px;
		width: 300px;
		border-radius: 10%;
		border: black 5px solid;
		margin-top: 10px;
		margin-bottom: 5px;
	}
</style>
<div class="container d-flex  justify-content-sm-between">
	<div>
		<a href="/audio">
			<img class="filterImg" src="https://m.media-amazon.com/images/G/31/img22/CEPC/Jan/Art/23/New/Launches/Revised/Halos/Unrec/speakers._CB617201397_.jpg" alt="">
		</a>
	</div>
	<div>
		<a href="/laptop">
			<img class="filterImg" src="https://m.media-amazon.com/images/I/81zoyHn5uJL._AC_UL320_.jpg" alt="">
		</a>
	</div>
	<div>
		<a href="/mobiles">
			<img class="filterImg" src="https://m.media-amazon.com/images/I/71V--WZVUIL._AC_UL320_.jpg" alt="">
		</a>
	</div>
</div>
<div class="container d-flex flex-row fs-4 ">
	<div style="width:40%; text-align:center; padding-right: 10rem;">
		Audio
	</div>
	<div style="width:40%; text-align:center;">
	   Laptop
	</div>
	<div style="width:40%; text-align:center; padding-left: 10rem;">
		Mobiles
	</div>
</div>

<div class="container my-5">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">​​​​
		{% for object in electronic %}
			<div class="col">
				<div class="card p-2" style="width: 25rem; height:30rem;">
                    <img src= "{{ object.getImage() }}" class= "card-img-top" style="height:20rem;"> 
					<center>
						<div class="card-body">
                            <h5 class="card-title">
								{% if object.getSelectcategory()=='Audio' %}
									<p class="card-text">
										{{ object.getSelectBrand().getAudioBrand().getBrand}}
										{{ object.getDescription() }}
									</p>
								{% elseif object.getSelectCategory()=='Laptop' %}
                                    <p class="card-text">
										{{ object.getSelectBrand().getLaptopBrand().getBrand() }}
										{{ object.getDescription() }}
									</p>
								{% elseif object.getSelectCategory()=='Mobiles' %}
                                    <p class="card-text">
										{{ object.getSelectBrand().getMobileBrand().getBrand() }}
										{{ object.getDescription() }}
									</p>
								{% endif %}
							</h5>
                            <h5 class="card-title">&#8377;
								{{ object.getPrice() - ((object.getPrice()*object.getDiscount()/100)) }}
								<span style="font-size:15px;">
									<span style="text-decoration:line-through;">
										{{ object.getPrice() }}
									</span>
									({{ object.getDiscount() }}% off)
								</span>
							</h5>
							<button class="card-link btn btn-success" style="text-decoration:none;">Buy Now</button>
							<button class="card-link btn btn-success" style="text-decoration:none;">Add To Cart</button>
						</div>
					</center>
				</div>
			</div>
		{% endfor %}
		​​​​​​​​
	</div>
</div>




{% include "default/footer.html.twig" %}